@font-face {
    font-family: "Dela Gothic One";
    src: url(DelaGothicOne-Regular.ttf)
    format("truetype");
}

body{
    margin:0;
}

header{
    padding-top: 0;
    padding-bottom: 10px;
    background-color: #545454;
}

.brand{
    text-align: center;
}

.info{
    color: #a6a6a6;
    text-align: center;
    margin: 15px;
    font-size: 1.5rem;
    text-indent: 2px;
    line-height: 1.5;
    word-spacing: 2px;
    letter-spacing: 1px;
    display: none;
}

@media (min-width:900px){
    .info {
        display: block;
    }
}

.quote{
    color: #a6a6a6;
    text-align: center;
    margin: 15px;
    font-size: 1.3rem;
    font-weight: 400;
    font-style: italic;
    display: none;
}

@media (min-width:900px){
    .quote {
        display: block;
    }
}

.navigation ul{

    color: #a6a6a6;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2px;
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navigation ul li{
    text-align: center;
    color: #231f20;
    font-size: 1.5rem;
    margin: 0 8px;
    /*padding-left: 90px;*/
    /*padding-right: 10px;*/
    font-weight: 700;
    letter-spacing: 2px;
    font-family: Dela Gothic One, fantasy;
    overflow: hidden;
}

a{
    text-decoration: none;
}

.navigation a:link{
    color: #a6a6a6
}

.navigation a:visited{
    color: #a6a6a6
}

/* Изменение цвета ссылок при наведении курсора */
.navigation a:hover {
    background-color: #ddd;
    color: black;
}

/* Добавить цвет для активной/текущей ссылки */
.nav-active{
    background-color: #ddd;
    color: black;
}

main{
    background-image: url("img/7.png");
    margin: 0;
}

main h1{
    text-align: center;
    margin: 10px;
    text-decoration: underline;
    word-spacing: 7px;
    letter-spacing: 3px;
    font-family: Dela Gothic One, fantasy;

}

.services{
    display: inline-block;
    padding-left: 100px;
    padding-right: 150px;
    font-size: 1.7rem;
    margin: 10px;
    backdrop-filter: blur(5px);
    text-transform: none;
    line-height: normal;
    font-family: Times, Times New Roman, serif;
}

.catalog {
    text-align: center;
    margin: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.catalog div{
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 1px 1px 15px 5px #545454;
    margin-bottom: 15px;

}


table {
    border: 3px solid #000000;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 65px;
    margin-right: 65px;
    background-color: antiquewhite;
    overflow-x: auto;
}

thead,
tbody,
tr{
    display: contents;
    border: 2px solid #000000;
    font-size: 1.4rem;
    line-height: 110%;

}

table td {
    border: 2px solid #000000;
    text-align: center;
    background-color: antiquewhite;
    font-size: 1.3rem;
}

tr:nth-child(2n - 1) td {
    background-color: #a6a6a6;
}


footer{
    color: white;
    padding-top: 3px;
    padding-bottom: 5px;
    background-color: #231f20;
    position: absolute;
    width: 100%;
}

.contacts{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contacts div {
    vertical-align: top;
    padding-left: 50px;
    padding-right: 30px;
    margin: 60px;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: Dela Gothic One, fantasy;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contacts a:link{
    color: white;
}

.contacts a:visited{
    color: white;
}

@media (max-width:1000px){
    .contacts div {
        display: flex;
        justify-content: center;
        flex-direction: row;    }
}

/*дизайн формы регистрации*/
* {box-sizing: border-box}

/* Поля ввода полной ширины */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Добавить цвет фона, когда входы получают фокус */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Установите стиль для всех кнопок */
button {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 1.5rem;

}

button:hover {
    opacity:1;
}

/* Дополнительные стили для кнопки "Отмена" */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
    font-size: 1.5rem;
}

/* Поплавок очистить и кнопки регистрации и добавить равную ширину */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Добавить отступы к элементам контейнера */
.container {
    padding: 16px;
}

/* Модальный (фон) */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полный высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: darkslategrey;
    padding-top: 50px;
}

/* Модальное Содержание/Бокс */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% сверху, 15% снизу и по центру */
    border: 1px solid #888;
    width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
}

/* Стиль горизонтальной линейки */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* кнопка закрытия (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-weight: bold;
    color: #f1f1f1;
    font-size: 1.5rem;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Снимите поплавки */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Измените стили для кнопки отмены и кнопки регистрации на дополнительных маленьких экранах */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

/*TO DO LIST*/

/* Включение отступа и границы в общую ширину и высоту элемента */
.todo * {
    box-sizing: border-box;
}

/* Удалите поля и отступы из списка */
.todo ul {
    margin: 0;
    padding: 0;
}

/* Стиль элементов списка */
.todo ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* сделайте элементы списка невыбираемыми */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Установить все нечетные элементы списка в другой цвет (зебра) */
.todo ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Более темный фон-цвет при наведении */
.todo ul li:hover {
    background: #ddd;
}

/* При нажатии на кнопку, добавить цвет фона и вычеркнуть текст */
.todo ul li.checked {
    background: #888;
    color: darkslateblue;
    text-decoration: line-through;
}

/* Добавить "checked" отметить при нажатии на кнопку */
.todo ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Стиль кнопки "Закрыть" */
.todo .close {
    position: absolute;
    right: 0;
    top: 0;
    color: rosybrown;
    padding: 12px 16px 12px 16px;
}

.todo .close:hover {
    background-color: lightcoral;
    color: rosybrown;
}

/* Стиль заголовка */
.todo .header {
    background-color: lightblue;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Очистить поплавки после заголовка */
.todo .header:after {
    content: "";
    display: table;
    clear: both;
}

/* Стиль ввода */
.todo input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Стиль кнопки "Добавить" */
.todo .addBtn {
    padding: 10px;
    width: 25%;
    background: cadetblue;
    color: black;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.todo .addBtn:hover {
    background-color: steelblue;
}

#clearButton {
    background-color: cadetblue; /* красный цвет фона */
    color: black; /* белый цвет текста */
    padding: 10px 20px; /* отступы внутри кнопки */
    border: none; /* убираем границу */
    cursor: pointer; /* указатель при наведении */
    font-size: 1rem;
}

#clearButton:hover {
    background-color: paleturquoise;
}


@media screen and (max-width: 300px) {
    .addBtn{
        width: 100%;
    }
}

.preloader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #35567e;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s infinite linear;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 9999;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#userList div {
    padding: 11px;
    margin: 12px;
    background-color: darkseagreen;
    border: 1px solid darkslategrey;
    border-radius: 5px;
    font-size: 1.5rem;

}


